@model List<BsacTimeTableCore2.Data.DBModels.Group>

@{
    ViewData["Title"] = "Open";
}

<form asp-action="Open" method="post">
    <table class="table table-bordered" style="margin-top: 2px;">
        @await Html.PartialAsync("_ManageRecordsOpenHeadPartial")
        <tbody>
            @for (int c = 0; c < Model.Count; c++)
            {
                <tr>
                    <td>@Model[c].Name</td>

                    @{ var z = 0; }
                    @foreach (var r in Model[c].Records)
                    {
                    <td>
                        <input hidden="hidden" asp-for="@Model[c].Records[z].Id" />
                        <input hidden="hidden" asp-for="@Model[c].Records[z].ClassroomId" />
                        <input hidden="hidden" asp-for="@Model[c].Records[z].Date" />
                        <input hidden="hidden" asp-for="@Model[c].Records[z].LecturerId" />
                        <input hidden="hidden" asp-for="@Model[c].Records[z].GroupId" />
                        <input hidden="hidden" asp-for="@Model[c].Records[z].LecturerId" />
                        <input hidden="hidden" asp-for="@Model[c].Records[z].SubjectForId" />
                        <input hidden="hidden" asp-for="@Model[c].Records[z].SubjectId" />
                        <input hidden="hidden" asp-for="@Model[c].Records[z].SubjectTypeId" />
                        <input hidden="hidden" asp-for="@Model[c].Records[z].SubjOrdinalNumber" />
                        @{z++;}
                    </td>
                    }
                </tr>
            }
        </tbody>
    </table>
    @*<input hidden="hidden" asp-for="@Model[0].Records[0].WeekNumber" />*@
    <input type="submit" value="save" class="btn btn-default" />
</form>

