@model List<BsacTimeTableCore2.Data.DBModels.Group>

@{
    ViewData["Title"] = "Open";
}
<style>
    .container {
        width: auto;
        padding-right: 1px;
        padding-left: 1px;
    }

    th {
        text-align: center;
    }
</style>
<environment include="Development">
    <link rel="stylesheet" href="~/lib/bootstrap-select/dist/css/bootstrap-select.css" />
</environment>
<environment exclude="Development">
    <link href="~/lib/bootstrap-select/dist/css/bootstrap-select.min.css" rel="stylesheet" />
</environment>
<div id="groupsDiv" hidden="hidden">@ViewBag.groupsJSON</div>
<form asp-action="Open" asp-route-id=@Context.Request.Query["id"] asp-route-date=@Context.Request.Query["date"] method="post">

    <table class="table table-bordered" style="margin-top: 2px;">
        @await Html.PartialAsync("_ManageRecordsOpenHeadPartial")
        <tbody>
            @for (int c = 0; c < Model.Count; c++)
            {
                <tr>
                    <td>@Model[c].Name</td>

                    @for (var z = 0; z < Model[c].Records.Count(); z += 3)
                    {
                        <td @{if (Model[c].Records[z].SubjOrdinalNumber >= 5) { <text> class="567lesson" hidden="hidden" </text>  } } onclick="showModal(this)">
                            @if (Model[c].Records[z].Id != 0 || Model[c].Records[z + 1].Id != 0)
                            {
                                <div class="LecturerName">@Model[c].Records[z].Lecturer?.Name @Model[c].Records[z + 1].Lecturer?.Name</div>
                                <div class="ClassroomName">@Model[c].Records[z].Classroom?.Name @Model[c].Records[z + 1].Classroom?.Name </div>
                                <div class="SubjectAbname">@Model[c].Records[z].Subject?.AbnameSubject @Model[c].Records[z + 1].Subject?.AbnameSubject</div>
                            }
                            else
                            {
                                <div class="LecturerName">@Model[c].Records[z + 2].Lecturer?.Name</div>
                                <div class="ClassroomName">@Model[c].Records[z + 2].Classroom?.Name </div>
                                <div class="SubjectAbname">@Model[c].Records[z + 2].Subject?.AbnameSubject</div>
                            }

                            @for (var i = 0; i < 3; i++)
                            {
                                <input hidden="hidden" asp-for="@Model[c].Records[z+i].Id" />
                                <input hidden="hidden" asp-for="@Model[c].Records[z+i].Date" />
                                <input hidden="hidden" asp-for="@Model[c].Records[z+i].GroupId" />
                                <input hidden="hidden" asp-for="@Model[c].Records[z+i].ClassroomId" class=@("ClassroomId"+(i+1)) />
                                <input hidden="hidden" asp-for="@Model[c].Records[z+i].LecturerId" class=@("LecturerId"+(i+1)) />
                                <input hidden="hidden" asp-for="@Model[c].Records[z+i].SubjectForId" />
                                <input hidden="hidden" asp-for="@Model[c].Records[z+i].SubjectId" class=@("SubjectId"+(i+1)) />
                                <input hidden="hidden" asp-for="@Model[c].Records[z+i].SubjectTypeId" class=@("SubjectTypeId"+(i+1)) />
                                <input hidden="hidden" asp-for="@Model[c].Records[z+i].SubjOrdinalNumber" />
                                <input hidden="hidden" asp-for="@Model[c].Records[z+i].IsChanged" class=@("IsChanged"+(i+1)) />
                                <input hidden="hidden" asp-for="@Model[c].Records[z+i].IsDeleted" class=@("IsDeleted"+(i+1)) />
                            }
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
    <div style="display:inline;">
        <label class="form-check-label" for="defaultCheck2">
            Показать/спрятать 5,6,7 пары:
        </label>
        <input class="form-check-input" type="checkbox" id="defaultCheck2" onclick="changeShow567lessons()">
    </div>
    <div style="display:inline; padding-left:20px" onclick="downloadTTInDocx()"><input value="Скачать в формате .docx" class="btn btn-info" /></div>
    <div style="float: right; padding-right: 20px"><input type="submit" value="Сохранить" class="btn btn-success" /></div>

    <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <label class="form-check-label" for="defaultCheck1">
                        Показать/спрятать подгруппы:
                    </label>
                    <input class="form-check-input" type="checkbox" id="defaultCheck1" onclick="changeModalInputs()">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <table hidden="hidden" id="ModalInputsSubgroups">
                    <tr>
                        <th>
                            1я подгруппа
                        </th>
                        <th>
                            2я подгруппа
                        </th>
                    </tr>
                    <tr>
                        <td>
                            <div class="modal-body" id="ModalInputs1">
                                <div><select id="lecturesSelect1" title="Ничего не выбрано" class="selectpicker" data-live-search="true" asp-items=ViewBag.Lecturers></select><span>Выберите преподавателя</span></div>
                                <div><select id="classroomsSelect1" title="Ничего не выбрано" class="selectpicker" data-live-search="true" asp-items=ViewBag.Classrooms></select><span>Выберите кабинет</span></div>
                                <div><select id="subjectsSelect1" title="Ничего не выбрано" class="selectpicker" data-live-search="true" asp-items=ViewBag.Subjects></select><span>Выберите предмет</span></div>
                                <div><select id="subjectTypesSelect1" title="Ничего не выбрано" class="selectpicker" data-live-search="true" asp-items=ViewBag.SubjectTypes></select><span>Выберите тип занятия</span></div>
                            </div>
                        </td>
                        <td>
                            <div class="modal-body" id="ModalInputs2">
                                <div><select id="lecturesSelect2" title="Ничего не выбрано" class="selectpicker" data-live-search="true" asp-items=ViewBag.Lecturers></select><span>Выберите преподавателя</span></div>
                                <div><select id="classroomsSelect2" title="Ничего не выбрано" class="selectpicker" data-live-search="true" asp-items=ViewBag.Classrooms></select><span>Выберите кабинет</span></div>
                                <div><select id="subjectsSelect2" title="Ничего не выбрано" class="selectpicker" data-live-search="true" asp-items=ViewBag.Subjects></select><span>Выберите предмет</span></div>
                                <div><select id="subjectTypesSelect2" title="Ничего не выбрано" class="selectpicker" data-live-search="true" asp-items=ViewBag.SubjectTypes></select><span>Выберите тип занятия</span></div>
                            </div>
                        </td>
                    </tr>
                </table>
                <div class="modal-body" id="ModalInputs">
                    <div><select id="lecturesSelect3" title="Ничего не выбрано" class="selectpicker" data-live-search="true" asp-items=ViewBag.Lecturers></select><span>Выберите преподавателя</span></div>
                    <div><select id="classroomsSelect3" title="Ничего не выбрано" class="selectpicker" data-live-search="true" asp-items=ViewBag.Classrooms></select><span>Выберите кабинет</span></div>
                    <div><select id="subjectsSelect3" title="Ничего не выбрано" class="selectpicker" data-live-search="true" asp-items=ViewBag.Subjects></select><span>Выберите предмет</span></div>
                    <div><select id="subjectTypesSelect3" title="Ничего не выбрано" class="selectpicker" data-live-search="true" asp-items=ViewBag.SubjectTypes></select><span>Выберите тип занятия</span></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" onclick="deleteAndCloseModal()">Удалить</button>
                    <button type="button" class="btn btn-primary" onclick="saveAndCloseModal()">Сохранить</button>
                </div>
            </div>
        </div>
    </div>
</form>
<br>


@section Scripts{

    <environment include="Development">
        <script src="~/lib/bootstrap-select/dist/js/bootstrap-select.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/lib/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
    </environment>

    <script>
        var globalModalObj;

        var groups = JSON.parse($('#groupsDiv').text());

        groups.forEach(function (item) {
            getAndPrintRecords(item.Id);
        });

        function getAndPrintRecords(groupId) {

            $.ajax({
                url: "GetRecordsByGroupId?id=" + groupId,
            }).done(
                function (data) {
                    console.log("Sample of data:", data);
                });

        }



        function showModal(domObj) {
            globalModalObj = domObj;
            $("#exampleModalLong").modal();

            $("#lecturesSelect1").val($(domObj).find('.LecturerId1').val());
            $("#classroomsSelect1").val($(domObj).find('.ClassroomId1').val());
            $("#subjectsSelect1").val($(domObj).find('.SubjectId1').val());
            $("#subjectTypesSelect1").val($(domObj).find('.SubjectTypeId1').val());

            $("#lecturesSelect2").val($(domObj).find('.LecturerId2').val());
            $("#classroomsSelect2").val($(domObj).find('.ClassroomId2').val());
            $("#subjectsSelect2").val($(domObj).find('.SubjectId2').val());
            $("#subjectTypesSelect2").val($(domObj).find('.SubjectTypeId2').val());

            $("#lecturesSelect3").val($(domObj).find('.LecturerId3').val());
            $("#classroomsSelect3").val($(domObj).find('.ClassroomId3').val());
            $("#subjectsSelect3").val($(domObj).find('.SubjectId3').val());
            $("#subjectTypesSelect3").val($(domObj).find('.SubjectTypeId3').val());

            if ($(domObj).find('.LecturerId1').val() != 0 || $(domObj).find('.LecturerId2').val() != 0) {
                $('#defaultCheck1').prop("checked", true);
            }
            else {
                $('#defaultCheck1').prop("checked", false);
            }

            changeModalInputs();

            $('.selectpicker').selectpicker('refresh');
        }

        function isPassedCheckInputs(id) {
            var isPass = true;

            $(id + " .selectpicker").each(function () {
                if ($(this).val() == null) {
                    $(this).next().css('background-color', '#d9534f');
                    isPass = false;
                }
            });
            setTimeout(function () {
                $(id + " .selectpicker").next().css('background-color', '');
            }, 100);

            return isPass;
        }

        function saveAndCloseModal() {
            if ($('#defaultCheck1').is(":checked")) {
                var isPassed1 = isPassedCheckInputs("#ModalInputs1");
                var isPassed2 = isPassedCheckInputs("#ModalInputs2");
                if (!isPassed1 && !isPassed2)
                    return;
                if (isPassed1 && isPassed2) {
                    $(globalModalObj).find('.IsChanged1').val(true);
                    $(globalModalObj).find('.IsChanged2').val(true);
                    $(globalModalObj).find('.IsDeleted1').val(null);
                    $(globalModalObj).find('.IsDeleted2').val(null);
                    $(globalModalObj).find('.IsDeleted3').val(true);
                    $(globalModalObj).find('.LecturerName')
                        .text($("#lecturesSelect1 :selected").text() + " " + $("#lecturesSelect2 :selected").text());
                    $(globalModalObj).find('.ClassroomName')
                        .text($("#classroomsSelect1 :selected").text() + " " + $("#classroomsSelect2 :selected").text());
                    $(globalModalObj).find('.SubjectAbname')
                        .text($("#subjectsSelect1 :selected").text() + " " + $("#subjectsSelect2 :selected").text());

                    $(globalModalObj).find('.LecturerId1').val($("#lecturesSelect1").val());
                    $(globalModalObj).find('.ClassroomId1').val($("#classroomsSelect1").val());
                    $(globalModalObj).find('.SubjectId1').val($("#subjectsSelect1").val());
                    $(globalModalObj).find('.SubjectTypeId1').val($("#subjectTypesSelect1").val());

                    $(globalModalObj).find('.LecturerId2').val($("#lecturesSelect2").val());
                    $(globalModalObj).find('.ClassroomId2').val($("#classroomsSelect2").val());
                    $(globalModalObj).find('.SubjectId2').val($("#subjectsSelect2").val());
                    $(globalModalObj).find('.SubjectTypeId2').val($("#subjectTypesSelect2").val());
                }
                else if (isPassed1) {
                    $(globalModalObj).find('.IsChanged1').val(true);
                    $(globalModalObj).find('.IsChanged2').val(null);
                    $(globalModalObj).find('.IsDeleted1').val(null);
                    $(globalModalObj).find('.IsDeleted2').val(true);
                    $(globalModalObj).find('.IsDeleted3').val(true);
                    $(globalModalObj).find('.LecturerName')
                        .text($("#lecturesSelect1 :selected").text());
                    $(globalModalObj).find('.ClassroomName')
                        .text($("#classroomsSelect1 :selected").text());
                    $(globalModalObj).find('.SubjectAbname')
                        .text($("#subjectsSelect1 :selected").text());

                    $(globalModalObj).find('.LecturerId1').val($("#lecturesSelect1").val());
                    $(globalModalObj).find('.ClassroomId1').val($("#classroomsSelect1").val());
                    $(globalModalObj).find('.SubjectId1').val($("#subjectsSelect1").val());
                    $(globalModalObj).find('.SubjectTypeId1').val($("#subjectTypesSelect1").val());
                }
                else if (isPassed2) {
                    $(globalModalObj).find('.IsChanged1').val(null);
                    $(globalModalObj).find('.IsChanged2').val(true);
                    $(globalModalObj).find('.IsDeleted1').val(true);
                    $(globalModalObj).find('.IsDeleted2').val(null);
                    $(globalModalObj).find('.IsDeleted3').val(true);
                    $(globalModalObj).find('.LecturerName')
                        .text($("#lecturesSelect2 :selected").text());
                    $(globalModalObj).find('.ClassroomName')
                        .text($("#classroomsSelect2 :selected").text());
                    $(globalModalObj).find('.SubjectAbname')
                        .text($("#subjectsSelect2 :selected").text());

                    $(globalModalObj).find('.LecturerId2').val($("#lecturesSelect2").val());
                    $(globalModalObj).find('.ClassroomId2').val($("#classroomsSelect2").val());
                    $(globalModalObj).find('.SubjectId2').val($("#subjectsSelect2").val());
                    $(globalModalObj).find('.SubjectTypeId2').val($("#subjectTypesSelect2").val());
                }
            }
            else {
                if (!isPassedCheckInputs("#ModalInputs"))
                    return;

                $(globalModalObj).find('.IsChanged3').val(true);
                $(globalModalObj).find('.IsDeleted1').val(true);
                $(globalModalObj).find('.IsDeleted2').val(true);
                $(globalModalObj).find('.IsDeleted3').val(null);

                $(globalModalObj).find('.LecturerName').text($("#lecturesSelect3 :selected").text());
                $(globalModalObj).find('.ClassroomName').text($("#classroomsSelect3 :selected").text());
                $(globalModalObj).find('.SubjectAbname').text($("#subjectsSelect3 :selected").text());

                $(globalModalObj).find('.LecturerId3').val($("#lecturesSelect3").val());
                $(globalModalObj).find('.ClassroomId3').val($("#classroomsSelect3").val());
                $(globalModalObj).find('.SubjectId3').val($("#subjectsSelect3").val());
                $(globalModalObj).find('.SubjectTypeId3').val($("#subjectTypesSelect3").val());
            }

            $("#exampleModalLong").modal("hide");
        }

        function deleteAndCloseModal() {
            $(globalModalObj).find('.IsChanged1').val(null);
            $(globalModalObj).find('.IsDeleted1').val(true);
            $(globalModalObj).find('.IsChanged2').val(null);
            $(globalModalObj).find('.IsDeleted2').val(true);
            $(globalModalObj).find('.IsChanged3').val(null);
            $(globalModalObj).find('.IsDeleted3').val(true);
            $(globalModalObj).find('.LecturerName').text("");
            $(globalModalObj).find('.ClassroomName').text("");
            $(globalModalObj).find('.SubjectAbname').text("");
            $("#exampleModalLong").modal("hide");
        }

        function changeModalInputs() {
            if ($('#defaultCheck1').is(":checked")) {
                $('#ModalInputsSubgroups').show();
                $('#ModalInputs').hide();
            }
            else {
                $('#ModalInputsSubgroups').hide();
                $('#ModalInputs').show();
            }
        }

        function changeShow567lessons() {
            if ($('#defaultCheck2').is(":checked")) {
                $('.567lesson').show();
                $('.columnDayName').attr('colspan', 7);
            }
            else {
                $('.567lesson').hide();
                $('.columnDayName').attr('colspan', 4);
            }
        }

        function downloadTTInDocx() {
            window.location = "@Url.Action("DownloadTTInDocx")";
        }

    </script>
}
