@model List<BsacTimeTableCore2.Data.DBModels.Group>

@{
    ViewData["Title"] = "Open";
}
<style>
    .container {
        width: auto;
        padding-right: 1px;
        padding-left: 1px;
    }
    th {
        text-align: center;
    }
</style>
<environment include="Development">
    <link rel="stylesheet" href="~/lib/bootstrap-select/dist/css/bootstrap-select.css" />
</environment>
<environment exclude="Development">
    <link href="~/lib/bootstrap-select/dist/css/bootstrap-select.min.css" rel="stylesheet" />
</environment>

<form asp-action="Open" asp-route-id=@Context.Request.Query["id"] asp-route-date=@Context.Request.Query["date"] method="post">

    <table class="table table-bordered" style="margin-top: 2px;">
        @await Html.PartialAsync("_ManageRecordsOpenHeadPartial")
        <tbody>
            @for (int c = 0; c < Model.Count; c++)
            {
                <tr>
                    <td>@Model[c].Name</td>

                    @{ var z = 0; }
                    @foreach (var r in Model[c].Records)
                    {
                        <td @{if (z % 3 != 2) { <text> hidden="hidden" </text>  } } onclick="showModal(this)">
                            <div class="LecturerName">@Model[c].Records[z].Lecturer?.Name</div>
                            <div class="ClassroomName">@Model[c].Records[z].Classroom?.Name </div>
                            <div class="SubjectName">@Model[c].Records[z].Subject?.Name</div>
                            <input hidden="hidden" asp-for="@Model[c].Records[z].Id" />
                            <input hidden="hidden" asp-for="@Model[c].Records[z].Date" />
                            <input hidden="hidden" asp-for="@Model[c].Records[z].GroupId" />
                            <input hidden="hidden" asp-for="@Model[c].Records[z].ClassroomId" class="ClassroomId" />
                            <input hidden="hidden" asp-for="@Model[c].Records[z].LecturerId" class="LecturerId" />
                            <input hidden="hidden" asp-for="@Model[c].Records[z].SubjectForId" />
                            <input hidden="hidden" asp-for="@Model[c].Records[z].SubjectId" class="SubjectId" />
                            <input hidden="hidden" asp-for="@Model[c].Records[z].SubjectTypeId" class="SubjectTypeId" />
                            <input hidden="hidden" asp-for="@Model[c].Records[z].SubjOrdinalNumber" />
                            <input hidden="hidden" asp-for="@Model[c].Records[z].IsChanged" class="IsChanged" />
                            <input hidden="hidden" asp-for="@Model[c].Records[z].IsDeleted" class="IsDeleted" />
                            @{z++;}
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
    <div style="float: right; padding-right: 20px"><input type="submit" value="Сохранить" class="btn btn-success" /></div>

    <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <label class="form-check-label" for="defaultCheck1">
                        Показать/спрятать подгруппы:
                    </label>
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <table hidden="hidden">
                    <tr>
                        <th>
                            1я подгруппа
                        </th>
                        <th>
                            2я подгруппа
                        </th>
                    </tr>
                    <tr>
                        <td>
                            <div class="modal-body" id="exampleModalInputs1">
                                <div><select id="lecturesSelect1" class="selectpicker" data-live-search="true" asp-items=ViewBag.Lecturers></select><span>Выберите преподавателя</span></div>
                                <div><select id="classroomsSelect1" class="selectpicker" data-live-search="true" asp-items=ViewBag.Classrooms></select><span>Выберите кабинет</span></div>
                                <div><select id="subjectsSelect1" class="selectpicker" data-live-search="true" asp-items=ViewBag.Subjects></select><span>Выберите предмет</span></div>
                                <div><select id="subjectTypesSelect1" class="selectpicker" data-live-search="true" asp-items=ViewBag.SubjectTypes></select><span>Выберите тип занятия</span></div>
                            </div>
                        </td>
                        <td>
                            <div class="modal-body" id="exampleModalInputs2">
                                <div><select id="lecturesSelect2" class="selectpicker" data-live-search="true" asp-items=ViewBag.Lecturers></select><span>Выберите преподавателя</span></div>
                                <div><select id="classroomsSelect2" class="selectpicker" data-live-search="true" asp-items=ViewBag.Classrooms></select><span>Выберите кабинет</span></div>
                                <div><select id="subjectsSelect2" class="selectpicker" data-live-search="true" asp-items=ViewBag.Subjects></select><span>Выберите предмет</span></div>
                                <div><select id="subjectTypesSelect2" class="selectpicker" data-live-search="true" asp-items=ViewBag.SubjectTypes></select><span>Выберите тип занятия</span></div>
                            </div>
                        </td>
                    </tr>
                </table>
                <div class="modal-body" id="exampleModalInputs">
                    <div><select id="lecturesSelect" class="selectpicker" data-live-search="true" asp-items=ViewBag.Lecturers></select><span>Выберите преподавателя</span></div>
                    <div><select id="classroomsSelect" class="selectpicker" data-live-search="true" asp-items=ViewBag.Classrooms></select><span>Выберите кабинет</span></div>
                    <div><select id="subjectsSelect" class="selectpicker" data-live-search="true" asp-items=ViewBag.Subjects></select><span>Выберите предмет</span></div>
                    <div><select id="subjectTypesSelect" class="selectpicker" data-live-search="true" asp-items=ViewBag.SubjectTypes></select><span>Выберите тип занятия</span></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" onclick="deleteAndCloseModal()">Удалить</button>
                    <button type="button" class="btn btn-primary" onclick="saveAndCloseModal()">Сохранить</button>
                </div>
            </div>
        </div>
    </div>
</form>
<br>


@section Scripts{

    <environment include="Development">
        <script src="~/lib/bootstrap-select/dist/js/bootstrap-select.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/lib/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
    </environment>

    <script>
        var globalModalObj;

        function showModal(domObj) {
            globalModalObj = domObj;
            $("#exampleModalLong").modal();

            $("#lecturesSelect").val($(domObj).find('.LecturerId').val());
            $("#classroomsSelect").val($(domObj).find('.ClassroomId').val());
            $("#subjectsSelect").val($(domObj).find('.SubjectId').val());
            $("#subjectTypesSelect").val($(domObj).find('.SubjectTypeId').val());

            $('.selectpicker').selectpicker('refresh');
        }

        function saveAndCloseModal() {
            $(globalModalObj).find('.IsChanged').val(true);
            $(globalModalObj).find('.IsDeleted').val(null);
            $(globalModalObj).find('.LecturerId').val($("#lecturesSelect").val());
            $(globalModalObj).find('.ClassroomId').val($("#classroomsSelect").val());
            $(globalModalObj).find('.SubjectId').val($("#subjectsSelect").val());
            $(globalModalObj).find('.SubjectTypeId').val($("#subjectTypesSelect").val());

            $(globalModalObj).find('.LecturerName').text($("#lecturesSelect :selected").text());
            $(globalModalObj).find('.ClassroomName').text($("#classroomsSelect :selected").text());
            $(globalModalObj).find('.SubjectName').text($("#subjectsSelect :selected").text());

            $("#exampleModalLong").modal("hide");
        }

        function deleteAndCloseModal() {
            $(globalModalObj).find('.IsChanged').val(null);
            $(globalModalObj).find('.IsDeleted').val(true);
            $(globalModalObj).find('.LecturerName').text("");
            $(globalModalObj).find('.ClassroomName').text("");
            $(globalModalObj).find('.SubjectName').text("");
            $(globalModalObj).find('.LecturerId').val(null);
            $(globalModalObj).find('.ClassroomId').val(null);
            $(globalModalObj).find('.SubjectId').val(null);
            $(globalModalObj).find('.SubjectTypeId').val(null);
            $("#exampleModalLong").modal("hide");
        }
    </script>
}
